h1 {
  float: left;
  width: 30%; }

#navigation-bar {
  float: right;
  width: 70%;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #navigation-bar li {
    display: inline-block; }
  #navigation-bar body {
    display: grid; }
  #navigation-bar header {
    grid-area: header; }
  #navigation-bar footer {
    grid-area: footer; }

main {
  grid-area: main;
  grid-template-areas: 'header header header header header header' 'main main main' 'footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px; }
